# General
.DS_Store

# Python
__pycache__/
.pytest_cache
.mypy_cache
*.egg-info/
build
dist

# Environments
.env
.venv/
venv/

# VS Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
!*.code-workspace
